/* Cells */

#board div {
  font-size: 30pt;
  height: 1.25em;
  width: 1.25em;
  text-align: center;
  background-color: grey;
}
#board div a {
  color: black;
  text-decoration: none;
}
#board div.uncovered {
  background-color: white;
}
#board div.flag {
}
#board div.bad-flag {
  color: red;
}
#board div.boom {
  background-color: red;
}

#board div.number-1  { color: blue; }
#board div.number-2  { color: green; }
#board div.number-3  { color: red; }
#board div.number-4  { color: darkblue; }
#board div.number-5  { color: darkred; }
#board div.number-6  { color: cyan; }
#board div.number-7  { color: magenta; }
#board div.number-8  { color: black; }

/* Misc */

#board #message {
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
}
